.form__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-family: 'Myriad Pro Regular';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 20px 10px;
}

.form__label:last-of-type {
    margin-right: 30px;
}
.form__label:first-of-type {
    margin-right: 30px;
}