.form__label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-family: 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 20px 10px;
}

.form__label:last-of-type {
    margin-right: 30px;
}
.form__label:first-of-type {
    margin-right: 30px;
}

@media all and (max-width: 680px) {
    .form__label {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        margin: 5px;
    }

    .form__label:first-of-type {
        margin-top: 15px;
    }
}