.footer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
}